= paginate @products

- @products.each_slice(3).each do |products|
  .row
    - products.each do |product|
      .col-md-4
        .products
          %p= link_to product_image_tag(product, width: '100%'), product_path(product)
          %p= link_to product.name, product_path(product)

= paginate @products
